.marquee-card {
  perspective: 1000px;
}

[data-flip-id] {
  will-change: transform;
}

.img_card {
  transform-style: preserve-3d;
  will-change: transform;
}

.mySwiper .swiper-wrapper {
  align-items: center;
}

.mySwiper .swiper-slide {
  transform: scale(0.6) !important;
}

.mySwiper .swiper-slide-active {
  transform: scale(1) !important;
}

.mySwiper .swiper-slide-active,
.mySwiper .swiper-slide-active * {
  cursor: default !important;
}

.active_bar {
  height: 3rem;
  border-color: black;
}

.noise:before {
  animation: noise 1s steps(2) infinite;
  background-image: url("https://tlb.betteroff.studio/noise.png");
  content: "";
  height: calc(100% + 20rem);
  left: -10rem;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  top: -10rem;
  width: calc(100% + 20rem);
}
@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(2rem, 6rem, 0);
  }
  70% {
    transform: translate3d(7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(-9rem, 1rem, 0);
  }
  90% {
    transform: translate3d(6rem, -5rem, 0);
  }
  100% {
    transform: translate3d(-7rem, 0, 0);
  }
}
